*{
	box-sizing: border-box;
	
}

.page-id-7{
	background:linear-gradient(45deg, #6d4949, #daa360) no-repeat center center fixed;
	color:white;
}

.page-id-21{
	background: linear-gradient(45deg, #be7273, #6d4949) no-repeat center center fixed;
	color:white;
}

.page-id-24, .single{
	background: linear-gradient(45deg, #3d4b5c, #6d4949) fixed;
	color:white;
}


main{
	section{
		height:100vh;
		position:relative;
		h1{
			font-size:2rem;
		}
	}
	.section-welcome{
		background:url("assets/background.jpg") no-repeat center center fixed;
		background-size:cover;
		.welcome-text{
			font-size:1.25rem ;
			h1{
				font-size:1.25rem ;
				margin-bottom:0;
				font-weight: 700;
			}
		}
	}
	.section-about{
		background:$blue-gradient;
		color:white;
		p{
			text-align: justify;
			word-break: normal;
			hyphens: auto;
		}
	}
	
	.section-pricing{
		background:linear-gradient(45deg, #6d4949, #daa360);

		
		a:hover{
			text-decoration:none;
		}
		div{
			h1{
				color:white;
				font-size:2rem;
			}
		}
		
		
		
	}
	
	.section-projects{
		background: linear-gradient(45deg, #3d4b5c, #6d4949);
		color:white;
		h5{
			color:black;
		}
	}
	
	.section-contact{
		background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
		.footer{
			position:absolute;
			bottom:0;
			width:100%;
			background:$blue-gradient;
			color:white;
			font-size:.85rem;
		}
	}

	.projects-site{

		
		h1{
			color:white;
		}
		h3{
			color:black;
		}
		
	}
	
	.content-welcome{
		position:relative;
		top:40%;
	}
	.content{
		position:relative;
		top:20%;
	}
	.package-page{
			.price-element{
				background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
				box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24);
				border-radius: 3px;
				margin: 0.8vh 0px;
				padding: 0.5vh;
				padding-top: 0.5vh;
				padding-top: 1vh;
				text-align: center;
				font-family: "Ubuntu";
				color:black;
				p{
					strong{
						margin-bottom:2rem;
					}
				}
			}
		
	}
	
}

.action-btn{
	background: -webkit-linear-gradient(bottom left, #2c3e50, #3d4b5c);
	background: -o-linear-gradient(bottom left, #2c3e50, #3d4b5c);
	background: linear-gradient(to top right, #2c3e50, #3d4b5c);
	color:white;
	font-family:'Ubuntu';
	font-weight:700;
	font-size:1rem;
	padding: 0.675rem 1.55rem;
}