@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900|Muli:400,700|Open+Sans+Condensed:300,700|Ubuntu:400,700&display=swap");

$mptw-yellow: #daa360;
$mptw-pink: #be7273;
$mptw-brown: #6d4949;
$mptw-blue1: #2c3e50;
$mptw-blue2: #3d4b5c;
$blue-gradient: linear-gradient(45deg, #2c3e50, #3d4b5c);